* {
	font-family: "Courier New", Courier, monospace;
}

#greeting {
	font-weight: bold;
	font-size: 30px;
	padding: 0px 0px 10px 0px;
}

#instructions {
	font-size: 15px;
	padding: 0px 0px 10px 0px;
}

#scoreOut {
	font-size: 20px;
	padding: 0px 0px 10px 0px;
}

#status {
	font-weight: bold;
	font-size: 25px;
}